h1, p, div{
    text-align: center
}

h1, p, div, a{
    color: white
}

body {
    background-image:linear-gradient(black, #3b3b3b 80%, black 100%);
    background-image:linear-gradient(black, #3b3b3b 80%, black 100%);
    background-image:linear-gradient(black, #3b3b3b 80%, black 100%);
}